$formsinvolv_size1: "only screen and (max-width : 1800px)";
$formsinvolv_size2: "only screen and (max-width : 1400px)";
$formsinvolv_size3: "only screen and (max-width : 1000px)";
$formsinvolv_size4: "only screen and (max-width : 767px)";



.formsinvolv {
  width: 100%;
  background-image: url(../images/formsInvolv/BGI.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 40px;
  
  @media #{$formsinvolv_size4}{
    //background-image: url(../images/formsInvolv/mob/BGI.jpg);
    background: linear-gradient(to bottom, #7f7f7f 0%,#5d686c 38%,#596f7a 60%,#4b6775 78%,#7f7f7f 100%);
    
  }


  &__heading{
    width: 70%;
    margin: 0 auto;
    padding-top: 70px;

    @media #{$formsinvolv_size2}{
      width: 86%;
    }

    @media #{$formsinvolv_size4}{
      padding-top: 40px;
      width: 90%;
    }

  }


	&__mainTitle{
    color: #ffffff;
    font-family: "PF Bague Sans Pro";
    font-size: 60px;
    font-weight: 700;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    width: 510px;
    line-height: 50px;

    @media #{$formsinvolv_size2}{
      width: 381px;
      font-size: 40px;
      line-height: 41px;
    }

    @media #{$formsinvolv_size4}{
      font-size: 34px;
      line-height: 34px;
      width: 100%;
      display: block;
    }
  }

	&__corporate{
    color: #ffffff;
    font-family: "PF Bague Sans Pro";
    font-size: 24px;
    font-weight: 500;
    text-decoration: underline;
    display: inline-block;
    vertical-align: top;
    float: right;
    text-align: right;
    margin-top: 25px;
    width: 324px;
    margin-right: 7px;
    

    @media #{$formsinvolv_size2}{
      font-size: 18px;
      width: 234px;
    }

    @media #{$formsinvolv_size4}{
      float: none;
      text-align: left;
      margin-top: 15px;
      display: block;
    }

  }

	&__table{
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
    width: 70%;
    margin-top: 15px;

    @media #{$formsinvolv_size2}{
      width: 90%;
    }

    @media #{$formsinvolv_size4}{
      display: none;
    }
  }


	&__row{

    
    &_header {

    }    
  }
  
  &__cell {
    position:relative;
    padding:0;

    &_info {
      width: 40%;
      padding-left: 3%;
      padding-top: 17px;
      padding-bottom: 17px;
      padding-right: 4%;
    }

    &_status {
      width: 15%;
    }

    &_header {
    } 

    &_padding1{
      padding-top: 35px;
    }

    &_padding2{
      padding-bottom: 35px;
    }

  }

  &__cell-clmtitle {
    position:relative;
    display: block;
    color: #000000;
    font-family: "PF Bague Sans Pro";
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 35px;
    text-align: center;
    margin-left: -4%;
    outline: none;

    @media #{$formsinvolv_size1}{
      font-size: 17px;
    }

    @media #{$formsinvolv_size2}{
      font-size: 14px;
      margin-right: 4%;
    }


    &_foot {
      font-size: 24px;
      font-weight: 400;
      padding-top: 30px;
      padding-bottom: 20px;
      transition: none;

      @media #{$formsinvolv_size1}{
        font-size: 15px;
        width: 87%;
        margin-left: 5%;
        padding-top: 25px;
        padding-bottom: 15px;
      }

      @media #{$formsinvolv_size3}{
        font-size: 13px;
      }
    }

    &_foot-buisness {
      color: #fff;

      .formsinvolv__cell:hover & {
        color: #000;
      }
    }
  }


	&__cell-title{
    position:relative;
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    font-family: "PF Bague Sans Pro";
    // border-top: 1 px solid #dadada;

    @media #{$formsinvolv_size3}{
      font-size: 18px;
    }
  }

	&__cell-subtitle{
    position:relative;
    color: #7c7c7c;
    font-size: 18px;
    font-weight: 400;
    font-family: "PF Bague Sans Pro";

    @media #{$formsinvolv_size1}{
      font-size: 16px;
    }

    @media #{$formsinvolv_size3}{
      font-size: 15px;
    }

  }


  &__cell-inner {
    position: absolute;
    top:0;
    left:0;
    right: 8px;
    bottom:0;
    z-index: 0;

    &:before{
      content: "";
      position: absolute;
      border-top: 1px solid #e5e5e5;
      top: 0;
      left: 7%;
      right: 7%;
    }

    &_check{
      background-image: url(../images/formsInvolv/check.png);
      background-repeat: no-repeat;
      background-position: center center;   

      .formsinvolv__row:hover & {
        background-size: 19%;
      }   
    }

    &_cross{
      background-image: url(../images/formsInvolv/cross.png);
      background-repeat: no-repeat;
      background-position: center center;
    }

    &_gray{
      background-color: #f3f3f3;

      .formsinvolv__row:hover & {
        background-color: #f4eeee;
      } 
    }

    &_white{
      background-color: #ffffff;

      .formsinvolv__row:hover & {
        background-color: #f4eeee;
      }   
    }

    &_standart{
      background-color: #e6e6e6;
      border: none;
      bottom: 11px;
    }

    &_buisness{
      border: none;
      bottom: 11px;
      background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.44) 100%);
    }

    &_vip{
      bottom: 11px;
      border: none;
      background-image: linear-gradient(50deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 100%);
      background-color: #ead726;
    }

    &_premium{
      bottom: 11px;
      border: none;
      background-image: linear-gradient(67deg, rgba(187, 169, 55, 0.83) 0%, rgba(187, 169, 55, 0.83) 3%, rgba(200, 181, 68, 0.83) 20%, rgba(200, 181, 68, 0.83) 21%, rgba(232, 210, 100, 0.83) 26%, rgba(255, 233, 126, 0.83) 29%, rgba(255, 255, 153, 0.83) 31%, rgba(255, 255, 225, 0.83) 35%, rgba(255, 255, 150, 0.83) 42%, rgba(250, 226, 118, 0.83) 48%, rgba(208, 188, 76, 0.83) 65%, rgba(205, 185, 73, 0.83) 72%, rgba(255, 232, 124, 0.83) 77%, rgba(155, 134, 17, 0.83) 97%, rgba(155, 134, 17, 0.83) 100%);
    }

    &_foot {
      .formsinvolv__cell:hover & {
        background-color: #ffe917;
        box-shadow: 0 0 38px rgba(255, 233, 28, 0.74);
      } 
    }
    
    &_foot-standart{
      background-color: #e6e6e6;
      top: 11px;
      padding-bottom: 30px;
    }

    &_foot-buisness{
      background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.44) 100%);
      top: 11px;
      padding-bottom: 30px;
      background-color: #100f0f;

    }

    &_foot-vip{
      background-image: linear-gradient(50deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 100%);
      top: 11px;
      padding-bottom: 30px;
      background-color: #ead726;
    }

    &_foot-premium{
          background-image: linear-gradient(67deg, rgba(187, 169, 55, 1) 0%, rgba(187, 169, 55, 1) 3%, rgba(200, 181, 68, 1) 20%, rgba(200, 181, 68, 1) 21%, rgba(232, 210, 100, 1) 26%, rgba(255, 233, 126, 1) 29%, rgba(255, 255, 153, 1) 31%, rgba(255, 255, 225, 1) 35%, rgba(255, 255, 150, 1) 42%, rgba(250, 226, 118, 1) 48%, rgba(208, 188, 76, 1) 65%, rgba(205, 185, 73, 1) 72%, rgba(255, 232, 124, 1) 77%, rgba(155, 134, 17, 1) 97%, rgba(155, 134, 17, 1) 100%);
      top: 11px;
      padding-bottom: 30px;
    }


    &_non-border {
      &:before {
        display: none;
      }
    }
  }
}

.formsinvolv-mob {

  display: none;

   @media #{$formsinvolv_size4}{
    display: block;
    width: 100%;
    padding-top: 30px;
    width: 90%;
    margin: 0 auto;

   }

  &__status{
    background-color: #fff;
  }

  &__head-title{

    color: #000000;
    font-family: "PF Bague Sans Pro";
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    padding-left: 5%;
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
    margin-top: 21px;
    
    &:before{
      content: "";
      background-image: url(../images/formsInvolv/mob/arrow-to-bottom.png);
      position: absolute;
      width: 21px;
      height: 15px;
      right: 8%;
      top: 31px;
    }


    &_platinum{
      margin-top: 0;
      box-shadow: 0 1px 15px rgba(0, 0, 0, 0.7);
      background-image: linear-gradient(67deg, rgba(187, 169, 55, 0.83) 0%, rgba(187, 169, 55, 0.83) 3%, rgba(200, 181, 68, 0.83) 20%, rgba(200, 181, 68, 0.83) 21%, rgba(232, 210, 100, 0.83) 26%, rgba(255, 233, 126, 0.83) 29%, rgba(255, 255, 153, 0.83) 31%, rgba(255, 255, 225, 0.83) 35%, rgba(255, 255, 150, 0.83) 42%, rgba(250, 226, 118, 0.83) 48%, rgba(208, 188, 76, 0.83) 65%, rgba(205, 185, 73, 0.83) 72%, rgba(255, 232, 124, 0.83) 77%, rgba(155, 134, 17, 0.83) 97%, rgba(155, 134, 17, 0.83) 100%);
    }

    &_vip{
      background-color: #efd66a;
      box-shadow: 0 1px 15px rgba(0, 0, 0, 0.7);
      background-image: linear-gradient(50deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 100%);
    }

    &_buisness{
      background-color: #383838;
      box-shadow: 0 1px 15px rgba(0, 0, 0, 0.7);
      color: #fff;
    }

    &_standart{
      box-shadow: 0 1px 15px rgba(0, 0, 0, 0.7);
      background-color: #e6e6e6;
    }
  }

  &__line{
    padding-bottom: 20px;
    padding-top: 20px;

  }

  &__hidden {
    max-height: 0;
    overflow: hidden;
    transition: none;    

    .visible & {
      max-height: 3000px;
      transition:max-height 0.8s linear;
    }
  }

  &__line-title{
    color: #000000;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    font-family: "PF Bague Sans Pro";
    font-size: 16px;
    background-color: #fff;
    padding-left: 5%;
    position: relative;

    &:before{
      content: "";
      position: absolute;
      border-top: 1px solid #e5e5e5;
      left: 2%;
      right: 2%;
      top: -20px;
    }

    &_none-before{

       &:before {
        display: none;
      }
    }
  }

  &__line-subtitle{
    color: #7c7c7c;
    font-weight: 400;
    line-height: 20px;
    font-family: "PF Bague Sans Pro";
    font-size: 16px;
    background-color: #fff;
    padding-left: 5%;
  }

  &__line-btn {
    display: block;
    width: 265px;
    height: 62px;
    margin: 0 auto;
    text-align: center;
    color: #0d080b;
    font-family: "PF Bague Sans Pro";
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    padding-top: 7px;
    border-bottom: 1px solid #666565;

    
    &_platinum {
      background-image: linear-gradient(67deg, #bba937 0%, #bba937 3%, #c8b544 20%, #c8b544 21%, #e8d264 26%, #ffe97e 29%, #ffff99 31%, #ffffe1 35%, #ffff96 42%, #fae276 48%, #d0bc4c 65%, #cdb949 72%, #ffe87c 77%, #9b8611 97%, #9b8611 100%);
    }
    
    
    &_vip {
      background-image: linear-gradient(50deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.43) 100%);
      background-color: #ead726;
    }
    
    
    &_business {
      background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.44) 100%);
      background-color: #100f0f;
      color:#fff;
    }
    
    
    &_standart {
      background-color: #e6e6e6;
    }

  }

}