$gandapas_size1: "only screen and (max-width : 1200px)";
$gandapas_size2: "only screen and (max-width : 766px)";
$gandapas_size3: "only screen and (max-width : 560px)";
$gandapas_size4: "only screen and (max-width : 450px)";


.gandapas{

  width: 100%;
  margin: 0 auto;
  padding-top: 20px;

  @media #{$gandapas_size2}{
    height: 560px;
  }

  @media #{$gandapas_size3}{
    margin-bottom: 80px;
  }


  &__container{
    width: 1180px;
    margin: 0 auto;
    position: relative;

    
    @media #{$gandapas_size1}{
      width: 90%;
    }

    @media #{$gandapas_size2}{
      width: 100%;
    }
  }

  &__img-person{
    // width: 30%;
    bottom: 0;
    display: inline-block;
    vertical-align: top;

    @media #{$gandapas_size1}{
      width: 240px;
    }

    @media #{$gandapas_size2}{
      width: 100%;
      display: block;
      max-width: 400px;
      margin: 0 auto;
    }
  }

  &__opinion{ 
    display: inline-block;
    vertical-align: top;
    width: 615px; 
    display: inline-block;
    vertical-align: top;
    margin-top: 90px;
    margin-left: 7%; 

    @media #{$gandapas_size1}{
      width: 55%;
      margin-top: 20px;
    }

    @media #{$gandapas_size2}{
      display: block;
      margin: 0;
      width: 100%;
      padding-left: 7%;
      padding-right: 7%;
      position: absolute;
      z-index: 1;
      background-color: rgba(255, 255, 255, 0.94);
      top: 294px;
    }
  }

  &__opinion-name{ 
    color: #000000;
    font-family: "PF Bague Sans Pro";
    font-size: 30px;
    font-weight: 700;
    
    @media #{$gandapas_size1}{
      font-size: 20px; 
    }
   }

  &__opinion-profession{ 
    color: #c8c8c8;
    font-family: "PF Bague Sans Pro";
    font-size: 20px;
    font-weight: 500;  

    @media #{$gandapas_size1}{
      font-size: 15px; 
    }

    @media #{$gandapas_size2}{
      font-size: 18px; 
      color: #000;
    }
  }

  &__opinion-text{  
    color: #000000;
    font-family: "PF Bague Sans Pro";
    font-size: 22px;
    font-weight: 300;
    font-style: italic;
    line-height: 26px;
    margin-top: 35px; 

    @media #{$gandapas_size1}{
      font-size: 16px; 
    }

  }

  &__img-quote{ 
    background-image: url(../images/gandapas/quote.png); 
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 96px;
    width: 124px; 
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-right: -570px;

  
    @media #{$gandapas_size1}{
      margin-right: -320px;
    }

    @media #{$gandapas_size2}{
      margin-right: -175px;
      top: 438px;
      z-index: 200;
    }

    @media #{$gandapas_size4}{
      margin-right: -130px;
      top: 496px;
    }
  }

	
}
