$measures-ms1: "only screen and (max-width : 1366px)";
$measures-ms2: "only screen and (max-width : 1199px)";
$measures-ms3: "only screen and (max-width : 991px)";
$measures-ms4: "only screen and (max-width : 767px)";
$measures-ms5: "only screen and (max-width : 600px)";
$measures-ms6: "only screen and (max-width : 520px)";
$measures-ms7: "only screen and (max-width : 450px)";
$measures-ms8: "only screen and (max-width : 400px)";

.measures-ms{
  position:relative;
  margin-top: 10px;
  margin-bottom: 27px;

  &__heading{
   
  }

  &__title{
    color: #000000;
    font-family: "PF Bague Sans Pro";
    font-size: 60px;
    font-weight: 700;
    line-height: 47px;   
    width: 665px;

    @media #{$measures-ms4} {
      width: 100%;
    }

    @media #{$measures-ms4} {
      font-size: 42px;
      line-height: 42px;
    }
  }

  &__subtitle{
    color: #000000;
    font-family: "PF Bague Sans Pro";
    font-size: 20px;
    font-weight: 400;
    margin-top: -16px;
    width: 696px;
    
    @media #{$measures-ms4} {
      width: 100%;
    }
  }

  &__events{
    position:relative;
    margin-top: 68px;
    padding-top: 3%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 301px;
    border: 5px solid #ffe928;

    @media #{$measures-ms2} {
      padding-bottom: 221px;
    }

    @media #{$measures-ms3} {
      padding-bottom: 208px;
    }

    @media #{$measures-ms4} {
      padding-bottom: 570px;
    }

    @media #{$measures-ms5} {
      padding-bottom: 575px;
    }

    @media #{$measures-ms6} {
      padding-bottom: 526px;
    }

    @media #{$measures-ms7} {
      padding-bottom: 468px;
    }

    @media #{$measures-ms8} {
      padding-bottom: 407px;
    }
  }

  .owl-carousel {
    position:static;

  }

  .owl-nav {
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;

    .owl-prev {
      background-image:url('../images/measures-ms/arrow-prev.png');
      left: -74px;
      border-radius:0;

      @media #{$measures-ms1} {
        left: -33px;
        opacity: 1 !important;
        border-top: 6px solid #fff;
        border-bottom: 9px solid #fff;
        box-sizing: content-box;
      }

      @media #{$measures-ms5} {
        left: -26px;
        width: 35px;
        background-position: 12px 7px;
      }
    }
    
    .owl-next {
      background-image:url('../images/measures-ms/arrow-next.png');
      right: -74px;
      border-radius:0;

      @media #{$measures-ms1} {
        right: -20px;
        opacity: 1 !important;
        border-top: 6px solid #fff;
        border-bottom: 9px solid #fff;
        box-sizing: content-box;
        background-position: 24px 7px;
      }

      @media #{$measures-ms5} {
        right: -14px;
        width: 20px;
        background-position: -1px 7px;
      }
    }

  }

  &__items {
    height: 290px;
  }

  &__item{
    position: relative;
  }

  &__item-foto{
    display: inline-block;
    vertical-align: top;
    max-width: 446px;
    width: 46%;
    overflow: hidden;

    @media #{$measures-ms4} {
      display: block;
      width: 76%;
      max-width: none;
      margin: 0 auto;
      margin-top: 114px;
    }

    @media #{$measures-ms5} {
      width: 100%;
    } 
  }

  &__item-foto-img {
    width: 100%;
    padding-left: 1px;
  }

  &__item-info{
    display: inline-block;
    vertical-align: top;
    padding-left: 2%;
    width: 53%;  

    @media #{$measures-ms4} {
      display: block;
      width: 76%;
      max-width: none;
      margin: 0 auto;
      margin-top: 20px;
      padding-bottom: 110px;
    }

    @media #{$measures-ms5} {
      width: 100%;
    } 
  }

  &__number{
    &_top {
      display: none;
      position: absolute;
      top: -23px;
      left: 50%;
      margin-left: -42px;
      background-color: #fff;
      width: 84px;
      text-align: center;

      @media #{$measures-ms3} {
        display: block;
      }
    }

    &_in-item {
      @media #{$measures-ms3} {
        display: none;
      }
    }
  }

  &__number-cur{
    font-family: "PF Bague Sans Pro";
    font-weight: 700;
    color: #f1b838;
    font-size: 38px;
    line-height: 38px;
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
  }

  &__number-total{
    font-family: "PF Bague Sans Pro";
    font-weight: 700;
    color: #b7b7b7;
    font-size: 29px;
    line-height: 29px;
    display: inline-block;
    vertical-align: top;
    margin-top: 6px;
  }

  &__text{
    margin-top: 15px;

    media #{$measures-ms2} {
      margin-top: 0;
    }
  }

  &__text-name{
    color: #000000;
    font-family: "PF Bague Sans Pro";
    font-size: 34px;
    font-weight: 700;
    line-height: 36px;

    @media #{$measures-ms2} {
      font-size: 25px;
      line-height: 25px;
    }
    
    @media #{$measures-ms4} {
      position: absolute;
      top: -95px;
      width: 76%;
    }

    @media #{$measures-ms5} {
      width: 100%;
      left: 0;
      font-size: 24px;
    } 
  }

  &__text-about{
    color: #000000;
    font-family: "PF Bague Sans Pro";
    font-size: 20px;
    font-weight: 400;
    font-size: 20px;

    @media #{$measures-ms2} {
      font-size: 16px;
      line-height: 16px;
      margin-top: 4px;
    }

    @media #{$measures-ms4} {
      font-size: 21px;
      line-height: 22px;
    }
  }

  &__infonumbers {
    position: absolute;
    left: 45%;
    width: 49%;
    bottom: 2px;

    @media #{$measures-ms2} {
      left: 48%;
      width: 55%;
    }

    @media #{$measures-ms4} {
      left: auto;
    }
  }

  &__calendar{
    display: inline-block;
    vertical-align: top;
    width: 240px;

    @media #{$measures-ms2} {
      width: 210px;
    }

    @media #{$measures-ms3} {
      width: 155px;
    }
  }

  &__calendar-img{
    display: inline-block !important;
    vertical-align: top;

    @media #{$measures-ms3} {
      width: 32px;
    }
  }

  &__calendar-date{
    color: #000000;
    font-family: "PF Bague Sans Pro";
    font-weight: 400;
    display: inline-block;
    vertical-align: top;
    font-size: 19px;
    margin-top: 13px;
    padding-left: 4%;

    @media #{$measures-ms3} {
      font-size: 15px;
    }
  }

  &__visiting{
    display: inline-block;
    vertical-align: top;    
    width: 240px;

    @media #{$measures-ms2} {
      width: 205px;
    }

    @media #{$measures-ms3} {
      width: 143px;
    }

    @media #{$measures-ms5} {
      margin-top: 15px;
    }
  }

  &__visiting-img{
    display: inline-block !important;
    vertical-align: top;

    @media #{$measures-ms3} {
      width: 26px;
    }
  }

  &__visiting-number{
    color: #000000;
    font-family: "PF Bague Sans Pro";
    font-size: 19px;
    margin-top: 15px;
    padding-left: 2%;
    font-weight: 400;
    display: inline-block;
    vertical-align: top;

    @media #{$measures-ms3} {
      font-size: 15px;
      margin-top: 12px;
    }
  } 

}
