$online-tr_size1: "only screen and (max-width : 1200px)";
$online-tr_size2: "only screen and (max-width : 1050px)";
$online-tr_size3: "only screen and (max-width : 900px)";
$online-tr_size4: "only screen and (max-width : 767px)";
$online-tr_size5: "only screen and (max-width : 620px)";
$online-tr_size6: "only screen and (max-width : 480px)";
$online-tr_size7: "only screen and (max-width : 400px)";

.online-tr {
  background-image: url('../images/online-tr/BGI.jpg');
  background-position:top center;
  background-size:cover;
  padding-top:110px;
  padding-bottom:100px;

  @media #{$online-tr_size1} {
    padding-top: 61px;
    padding-bottom: 61px;
  }

  @media #{$online-tr_size4} {
    padding-left: 0;
    padding-right: 0;
    position: relative;
  }

  @media #{$online-tr_size7} {
    padding-left: 0;
    padding-right: 0;
  }

  &__container{
    width: 1180px;
    margin: 0 auto;
    position: relative;

    
    @media #{$online-tr_size1}{
      width: 90%;
    }

    @media #{$online-tr_size4}{
      width: 100%;
    }
  }

  &__box {
    background-color: #fff;
    padding:40px 40px;
    padding-top: 28px;
    font-size: 0;

    @media #{$online-tr_size3}{
      padding-bottom: 26px;
    }
  }

  
  &__info {
    display: inline-block;
    vertical-align: top;
    width: 35%;
    margin-top: 20px;

    @media #{$online-tr_size1}{
      width: 45%;
      padding-left: 27px;
    }

    @media #{$online-tr_size4}{
      width: 100%;
      padding-left: 10%;
      margin-top: 0;
    }

    @media #{$online-tr_size7}{
      padding-left: 5%;
      padding-right: 5%;
    }
  }

  
  &__info-title {
    color: #000000;
    font-family: "PF Bague Sans Pro";

    @media #{$online-tr_size4}{
      position: absolute;
      top: 24px;
      left: 50%;
      margin-left: -136px;
    }
  }

  
  &__info-title-bold {
    font-size: 83px;
    line-height: 76px;
    font-weight: 700;
    text-transform: uppercase;

    @media #{$online-tr_size1}{
      font-size: 70px;
      line-height: 65px;
    }

    @media #{$online-tr_size2}{
      font-size: 60px;
      line-height: 55px;
    }

    @media #{$online-tr_size3} {
      font-size: 47px;
      line-height: 45px;
    }

    @media #{$online-tr_size4} {
      font-size: 64px;
    }
  }

  
  &__info-title-rel {
    font-size: 56px;
    line-height: 45px;
    font-weight: 400;

    @media #{$online-tr_size1} {
      font-size: 56px;
      line-height: 45px;
      font-weight: 400;
    }

    @media #{$online-tr_size2} {
      font-size: 47px;
      line-height: 34px;
    }

    @media #{$online-tr_size3} {
      font-size: 39px;
      line-height: 28px;
    }

    @media #{$online-tr_size4} {
      font-size: 50px;
      line-height: 44px;
    }

  }

  
  &__info-items {
    margin-top: 62px;

    @media #{$online-tr_size1} {
      margin-top: 42px;
    }

    @media #{$online-tr_size2} {
      margin-top: 36px;
    }

    @media #{$online-tr_size3} {
      margin-top: 28px;
    }

    @media #{$online-tr_size4} {
      margin-top: 28px;
    }
  }

  
  &__info-item {
    color: #000000;
    font-family: "PF Bague Sans Pro";
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    position:relative;
    padding-left: 37px;
    margin-bottom: 24px;

    &:before {
      content: "";
      position: absolute;
      top: -8px;
      left: 0;
      width: 26px;
      height: 32px;
      background-image: url("../images/online-tr/check.png");
      background-repeat: no-repeat;
      background-size:cover;
    }

    @media #{$online-tr_size1} {
      font-size: 16px;
    }

    @media #{$online-tr_size2} {
      font-size: 14px;

      &:before  {
        width: 24px;
        height: 29px
      }
    }

    @media #{$online-tr_size3} {
      margin-bottom: 14px;
    }

    @media #{$online-tr_size4} {
      font-size: 22px;
    }

    @media #{$online-tr_size5} {
      font-size: 17px;
    }

    @media #{$online-tr_size6} {
      font-size: 15px;
    }
  }

  
  &__video {
    display: inline-block;
    vertical-align: top;
    width: 65%;
    float: right;

    @media #{$online-tr_size1}  {
      width: 55%;
    }

    @media #{$online-tr_size4} {
      display: block;
      float: none;
      width: 100%;
      padding-top: 108px;
    }

  }

  &__video-img {
    width: 100%;
  }

  
  &__box-bottom {
    width: 95%;
    margin:0 auto;
        margin-top: 145px;
    border-top:1px solid #eee;
    text-align: center;
    padding-top: 30px;

    @media #{$online-tr_size1}  {
      margin-top: 17px;
    }

    @media #{$online-tr_size3}  {
      padding-top: 18px;
    }
  }

  
  &__btn {
    display: inline-block;
    vertical-align: top;
    background-image: url(../images/online-tr/monitor.png);
    background-repeat: no-repeat;
    background-position: 31px 10px;
    background-color: #ffe91c;
    box-shadow: 0 0 24px rgba(255, 233, 65, 0.73);
    color: #000000;
    font-family: "PF Bague Sans Pro";
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    line-height: 19px;
    text-transform: uppercase;
    padding: 11px 0;
    padding-left: 91px;
    padding-right: 40px;

    &:hover {
      box-shadow: 0 0 23px rgba(201, 182, 8, 0.74);
    }

    strong {
      font-weight: 900;
    }

    @media #{$online-tr_size6} {
      background-image: none;
      padding-left: 35px;
      padding-right: 35px;
      font-size: 18px;
    }

    @media #{$online-tr_size7} {
      font-size: 13px;
    }

  }

  
  &__btn-l1 {

  }

  
  &__btn-l1 {

  }

}