$photos-slider_size0: "only screen and (max-width : 1259px)";
$photos-slider_size0-1: "only screen and (max-width : 1199px)";
$photos-slider_size1: "only screen and (max-width : 991px)";
$photos-slider_size2: "only screen and (max-width : 768px)";

.photos-slider{
  

  &_about {
    position: absolute;
    z-index: 50;
    bottom: 64px;
    width: 100%;

    @media #{$photos-slider_size1}{ 
      bottom: 60px;
    }

    @media #{$photos-slider_size2}{ 
      bottom: 57px;  
    }
  }

  &_measures {
    position: absolute;
    z-index: 50;
    bottom: 61px;
    width: 100%;

    @media #{$photos-slider_size0}{ 
      bottom: 49px;
    }

    @media #{$photos-slider_size0-1}{ 
      bottom: 50px;
    }

    @media #{$photos-slider_size2}{ 
      bottom: 41px;  
    }
  }

	&__items {
  }
	
  &__item {
    // display: inline-block;
    // vertical-align: top;
  }
	
  &__item-img {
    display: inline-block;
    vertical-align: top;
  }

}