$switch-link_size1: "only screen and (max-width : 1500px)";
$switch-link_size2: "only screen and (max-width : 1200px)";
$switch-link_size3: "only screen and (max-width : 767px)";
$switch-link_size4: "only screen and (max-width : 440px)";


.switch-link{

	width: 100%;
	background-color: #ffe941;


	&__continer{
    width: 1180px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;


    @media #{$switch-link_size2}{
      width: 90%;
    }

    @media #{$switch-link_size3}{
      padding-bottom: 50px;
      padding-top: 20px;
      width: 100%;
      text-align: center;
    }

    @media #{$switch-link_size4}{
      padding-bottom: 32px;
    }
	}

	
	&__info{
    display: inline-block;
    vertical-align: top;
    margin-left: 3%;
    // position: relative;

    @media #{$switch-link_size2}{
      margin-top: 10px;
    }

    @media #{$switch-link_size3}{
      text-align: left;
      margin: 0 auto;
      
      text-align: left;
    }

    @media #{$switch-link_size4}{
      width: 297px;
    }

    &_online {

      @media #{$switch-link_size3}{
        width: 390px;
      }

      @media #{$switch-link_size4}{
        width: 303px;
      }
    }

    &_seminar {

      @media #{$switch-link_size3}{
        width: 430px;
      }

      @media #{$switch-link_size4}{
        width: 303px;
      }
    }

	}

  &__info-text{
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;

    @media #{$switch-link_size2}{
      margin-left: 5px;
    }
  }

	&__title{
		color: #000000;
		font-family: "PF Bague Sans Pro";		
		text-transform: uppercase;  
    

    &_online {
      font-size: 40px;
      line-height: 40px;
      font-weight: 700;

      @media #{$switch-link_size2}{
        font-size: 25px;
      }

      @media #{$switch-link_size4}{
        font-size: 20px;
      }
    }

    &_seminar {
      font-size: 40px;
      line-height: 40px;
      font-weight: 700;

      @media #{$switch-link_size2}{
        font-size: 22px;
      }

      @media #{$switch-link_size4}{
        font-size: 16px;
      }
    }
 	}

	&__subtitle{
    color: #000000;
    font-family: "PF Bague Sans Pro";
    
    &_online {
      font-size: 40px;
      line-height: 40px;
      font-weight: 400;

      @media #{$switch-link_size2}{
        font-size: 25px;
        margin-bottom: 24px;
        line-height: 13px;
      }

      @media #{$switch-link_size4}{
        font-size: 21px;
        line-height: 13px;
      }
    }

    &_seminar {
      font-size: 31px;
      line-height: 37px;
      font-weight: 400;

      @media #{$switch-link_size2}{
        font-size: 25px;
        margin-bottom: 24px;
        line-height: 13px;
      }

      @media #{$switch-link_size4}{
        font-size: 17px;
        line-height: 13px;
      }
    }
	}

  &__info-img{
    
    background-repeat: no-repeat;
    background-position: 0 0;    
    display: inline-block;
    vertical-align: top;

    &_online {
      background-image: url(../images/online/monitor.png);
      width: 90px;
      height: 82px;
      margin-right: 10px;
    }

    &_seminar {
      background-image: url(../images/online/location.png);
      width: 60px;
      height: 71px;
    }

    @media #{$switch-link_size3}{
      background-size: contain;
      width: 70px;
      height: 64px;
    }

    @media #{$switch-link_size4}{
      width: 40px;
      height: 40px;
      margin-top: 13px;
      margin-left: 2%;
    }
  }

	&__button{
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.22);
    border: 2px solid #c99a19;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 6%;
    padding-right: 3%;
    text-align: center;
    float: right;
    color: #000000;
    font-family: "PF Bague Sans Pro";
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    background-image: url(../images/online/tickets.png);
    background-repeat: no-repeat;
    background-position: 9px 3px;

    &:hover {
      box-shadow: 0 0 38px rgba(120, 114, 59, 0.74);
      border-color: #dbb651;
    }


    @media #{$switch-link_size1}{
      font-size: 16px;
      margin-right: 5%;
    }

    @media #{$switch-link_size2}{
      padding-left: 9%;
      padding-right: 5%;
      margin-right: 0;
      background-position: 11px 3px;
    }

    @media #{$switch-link_size3}{
      padding-left: 30px;
      padding-right: 30px;
      margin-left: 0;
      display: block;
      float: none;
      width: 385px;
      margin: 0 auto;
      margin-top: 30px;
      background-position: 36px 3px;
    }

    @media #{$switch-link_size4}{
      width: 296px;
      background-position: 14px 3px;
      margin-top: 9px;
    }

	}

}
