/*@import "/fonts/stylesheet.css" all;*/

/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */

html {
  line-height: normal; /* 2 */
  -ms-text-size-adjust: 100%; /* 3 */
  -webkit-text-size-adjust: 100%; /* 3 */
}

body {
  margin: 0 auto;
  overflow-x: hidden;
  color: #4a4a4a;
  font-size: 18px;
  line-height: 1.2;
  font-family: 'PF Bague Sans Pro';
  cursor: default;
  font-weight: 300;
  min-width: 320px;
  max-width: 1920px;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

main { /* 1 */
  display: block;
}

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
  outline: none;
}

a:active,
a:hover {
  outline-width: 0;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bold;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
  font-family: 'PF Bague Sans Pro';
}

button,
input { /* 1 */
  overflow: visible;
}

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

textarea {
  overflow: auto;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

[hidden] {
  display: none;
}
td {
  padding: 5px;
}
a {
  text-decoration: none;
  color: #393c50
}

/***********************/
.container {
  position: relative;
  width: 1070px;
  margin: 0 auto;
  padding: 0 20px;
}
.container:after, .clr:after {
  content: "";
  display: block;
  clear: both
}

.container__wide {
  width: 1180px;
}

.section {
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
}
.section_about{
  position: relative;
}
a, .btn, li  {
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
.btn {
  text-align: center;
  display: inline-block;
  text-decoration: none;
  position: relative;
  padding: 18px;
  cursor: pointer;
  line-height: 1;
  text-transform: uppercase;
  font-size: 20px;
  border: 1px solid transparent;
  height: 55px;
}
.btn-yellow {
  background: #ffe91c;
  color: #191919;
  border-color: #ffe91c;
}
.btn-yellow:hover {
  box-shadow: 0 0 38px rgba(255, 233, 28, 0.74);
}

.btn-yellow-on-white:hover {
  box-shadow: 0 0 38px rgba(201, 182, 8, 0.74);
}



.block-subtitle {
  font-size: 18px
}
.block-content {}

.hidden-popup {
  display: none;
}
.hidden-popup.article,
.popup-content {
  padding: 30px;
  position: relative;
  background-color: #FFFFFF;
  color: black;
  border-radius: 8px;
  width: 900px;
  margin: 0 auto;
  text-align: center;
}
#politics .popup-content {
  background-color: white;
  width: 100%;
  color: black;
  text-align: left;
  box-shadow: 0 0 5px rgba(0,0,0,0.5)
}
#politics .popup-content > *:not(.close) {
  width: 100%;
}
.popup-title {
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  color: #000000;
  text-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  
  text-align: center;
  line-height: 1.2;
}
#politics .popup-content .popup-title {
  color: black;
  text-shadow: none;
}
.popup-text {
  font-size: 18px;
}

.popup-text ol li {
  font-size: 15px;
  
}
.popup-text ol {
  margin: 0;
  padding: 0 0 0 15px;
}
* {
  box-sizing: border-box;
}
#message-sent {
  text-align: center;
}
/***************************************/
/*.video-bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-attachment: fixed;
  transition: 1s opacity;
  z-index: -1;
}
.video-bg:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}
.video-bg video {
  top: 50%;
  position: absolute;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
}*/
/***************************************/
.tiny-popup .popup-content {
  width: 310px;
  padding: 50px 30px;
}
.hidden-popup {
  
}
.tiny-popup .form-inputs input {

}
.tiny-popup .btn{
  margin-top: 0; 
}
.hidden-popup .form-group {
  width: 400px;
  margin: 20px auto
}
.hidden-popup .subtitle {
  text-align: center;
}
.center-button {
  text-align: center;
}

.close {
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
.close:before {
  content: "";
  width: 2px;
  height: 22px;
  background: black;
  display: block;
  position: absolute;
  transform: rotate(45deg);
  margin-left: 14px;
  margin-top: 4px;
}
.close:after {
  content: "";
  width: 2px;
  height: 22px;
  background: black;
  display: block;
  position: absolute;
  transform: rotate(-45deg);
  margin-left: 14px;
  margin-top: 4px;
}
#side-popup .close:before {
  background: white;
}
#side-popup  .close:after {
  background: white;
}
.close:hover:before,
.close:hover:after {
  background: #ffe91c !important;
}




/***************************************/

/***************************************/
header {
  z-index: 100;
  background: #040405;
  line-height: 75px;
}

.header-logo {
  float: left;
}
.header-logo img {
  display: inline-block;
  vertical-align: middle
}
.header-right {
  float: right;
}
header .container:after {
  content: "";
  clear: both;
  display: block;
}
.header-date {
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
  padding-right: 25px;
  line-height: 1;
}
.header-date span {
  font-size: 46px;
  font-weight: 100;
  line-height: 1;
}
.header-phone {
  color: #ffffff;
  display: inline-block;
  vertical-align: top;
  background: url(/images/header-phone.png) no-repeat 10px 50% #1c1c1c;
  padding-left: 65px;
  padding-right: 15px;
  line-height: 1;
  font-size: 28px;
  padding-top: 28px;
  padding-bottom: 19px;
  font-weight: 100;
}
/***************************************/
/***************************************/
.form-title {

}
.form-text {

}
.form-pre {

}
.form-inputs input {
  width: 365px;
  padding: 16px 25px;
  height: 55px;
  font-size: 20px;
  box-shadow: inset 0 0 5px rgba(116, 116, 116, 0.48);
  outline: none;
  border: 0;
  line-height: 1;
}

.form-btn .open-popup {

}
.form-btn .btn {

}
input.has-error  {
  box-shadow: inset 0 0 7px #f00;

}/*
::-webkit-input-placeholder {color:#000000;}
::-moz-placeholder      {color:#000000;}
:-moz-placeholder       {color:#000000;}
:-ms-input-placeholder    {color:#000000;}

*/
/***************************************/
.section-title {

}
.bottomline:after {

}
.section-subtitle {

}
.section-content {
  
}
.relative {
  position: relative
}
.overflow-hidden {
  overflow: hidden;
}
/************************************/
/************************************/
.menu-toggler {display: none}

img {
  max-width: 100%;
}

.defloat:after {
  content: "";
  display: block;
  clear: both;
}
/********************************************/

/********************************************/

/********************************************/
 .custom-form {
  text-align: center;
  position: relative;
}
.form-title {

}
.form-inputs, .form-btn {
  display: inline-block;
  vertical-align: middle;
}
.form-btn {
  height: 55px;
  width: 365px;
}
.form-btn .btn {
  width: 100%;
}


/********************************************/
#intro {
  color: white;
  background: url(/images/intro-bg.jpg) no-repeat bottom center;
}
.intro-l1 {
  font-size: 45px;
  font-weight: 100;
  line-height: 0.87;
  margin: 30px 12% 20px;
}
.intro-l1:before {
  content: "";
  display: block;
  width: 110px;
  height: 111px;
  background: url(/images/top5.png) no-repeat center center;
  background-size: cover;
  position: absolute;
  z-index: 10;
  top: -10px;
  left: 20px;
}
.mobile-date {
  display: none;
}
.intro-l2 {
  font-size: 137.92px;
  line-height: 121.76px;
  padding-top: 15px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  background: -moz-linear-gradient(left, rgb(155,134,17) 0%, rgb(187,169,55) 3%, rgb(200,181,68) 20%, rgb(200,181,68) 21%, rgb(232,210,100) 26%, rgb(255,233,126) 29%, rgb(255,244,140) 30%, rgb(255,255,153) 31%, rgb(255,255,189) 32%, rgb(255,255,225) 35%, rgb(255,255,188) 38%, rgb(255,255,150) 42%, rgb(253,241,134) 44%, rgb(250,226,118) 48%, rgb(229,207,97) 55%, rgb(208,188,76) 65%, rgb(207,187,75) 71%, rgb(205,185,73) 72%, rgb(230,209,99) 75%, rgb(255,232,124) 77%, rgb(155,134,17) 97%, rgb(155,134,17) 100% );
  background: -webkit-linear-gradient(left, rgb(155,134,17) 0%, rgb(187,169,55) 3%, rgb(200,181,68) 20%, rgb(200,181,68) 21%, rgb(232,210,100) 26%, rgb(255,233,126) 29%, rgb(255,244,140) 30%, rgb(255,255,153) 31%, rgb(255,255,189) 32%, rgb(255,255,225) 35%, rgb(255,255,188) 38%, rgb(255,255,150) 42%, rgb(253,241,134) 44%, rgb(250,226,118) 48%, rgb(229,207,97) 55%, rgb(208,188,76) 65%, rgb(207,187,75) 71%, rgb(205,185,73) 72%, rgb(230,209,99) 75%, rgb(255,232,124) 77%, rgb(155,134,17) 97%, rgb(155,134,17) 100% );
  background: linear-gradient(to right, rgb(187,169,55) 3%, rgb(155,134,17) 0%, rgb(187,169,55) 3%, rgb(200,181,68) 20%, rgb(200,181,68) 21%, rgb(232,210,100) 26%, rgb(255,233,126) 29%, rgb(255,244,140) 30%, rgb(255,255,153) 31%, rgb(255,255,189) 32%, rgb(255,255,225) 35%, rgb(255,255,188) 38%, rgb(255,255,150) 42%, rgb(253,241,134) 44%, rgb(250,226,118) 48%, rgb(229,207,97) 55%, rgb(208,188,76) 65%, rgb(207,187,75) 71%, rgb(205,185,73) 72%, rgb(230,209,99) 75%, rgb(255,232,124) 77%, rgb(155,134,17) 97%, rgb(155,134,17) 100%);
  color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation: gradmove 10s ease infinite;
  -moz-animation: gradmove 10s ease infinite;
  -o-animation: gradmove 10s ease infinite;
  animation: gradmove 10s ease infinite;
  background-size: 150% 150%;
}

.intro-l2 span {
  font-size: 75.93px;
  line-height: 79.01px;
  display: block;
}
.intro-l2 i {
  width: 7px;
  display: inline-block;
}

.intro-title {
  position: relative;
  margin-bottom: 20px;
  width: 48%;
  max-width: 552px;
  z-index: 10;
}

.intro-strategy {
  padding: 30px 0 20px 2%;
  position: relative;
  
}
.intro-strategy:before {
  content: "";
  display: block;
  position: absolute;
  left: -100%;
  right: -100%;
  top: 0;
  bottom: 0;
  background: black;
  opacity: 0.7;
  z-index: 1;
}

.intro-strategy-info {
  display: inline-block;
  vertical-align: top;
  width: 600px;
}

.intro-strategy > * {
  position: relative;
  z-index: 2
}
.intro-strategy-title:before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background: url(/images/rocket.png) no-repeat center center;
  position: absolute;
  left: -70px;
  top: 15px;
}
.intro-strategy-title {
  font-size: 47px;
  line-height: 44px;
  font-weight: bold;
  text-transform: uppercase;
}
.intro-strategy-row {
  font-size: 25px;
  line-height: 44px;
  font-weight: 100;
}

.intro-strategy-btn {
  display: inline-block;
  vertical-align: top;
  background-image: url(/images/tickets-side.png);
  background-repeat: no-repeat;
  background-position: 25px 12px;
  padding: 0;
  padding-left: 88px;
  padding-right: 40px;
  height: 78px;
  line-height: 78px;  
  float: right;
  transition:none;
}

.intro-strategy-online-btn {
  display: inline-block;
  vertical-align: top;
  background-image: url(/images/monitor.png);
  background-repeat: no-repeat;
  background-position: 25px 17px;
  text-align: left;
  padding: 0;
  padding-top: 14px;
  padding-left: 88px;
  padding-right: 40px;
  height: 78px;
  line-height: 23px;
  float: right;
  transition:none;
}



.intro-bottom {
  padding: 30px 0 60px;
}
.intro-bottom-item {
  border: 2px solid #debf66;
  color: #f1c549;
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  line-height: 20px;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-right: 30px;
}
.intro-bottom-item:nth-child(1) {background: url(/images/chat.png) no-repeat 20px 50%;padding-left: 100px;}
.intro-bottom-item:nth-child(2) {background: url(/images/marker.png) no-repeat 10px 50%;padding-left: 60px;}
.intro-bottom-item:nth-child(2) strong {
  display: block;
}
.intro-bottom-item+.intro-bottom-item {
  margin-left: 15px;
}

.intro-bottom-btn {
  display: none;
}

.intro-bottom-online-btn {
  display: none;
}

.intro-brian {
  position: absolute;
  bottom: 1px;
  right: -100px;
}
.intro-brian img {
  display: block;
}

.buttonePlace{
  position: absolute;
  top: 30px;
  right: -1%;
}

/********************************************/
.numbers-items {
  padding: 25px 0;
}
.numbers-item {
  display: inline-block;
  vertical-align: top;
  width: 33%;
  margin: 25px 0;
}
.numbers-item-num {
  font-size: 100px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  color: #e7d73e;
  text-shadow: 0px 1px 1px rgb(73, 72, 71);
  line-height: 100px;

  
  /*background-color: rgb(140, 127, 4);
  color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;*/
}
.numbers-item-num span {
  font-size: 38px;
  line-height: 1;
  display: inline-block;
  
  color: #e7d73e;
  text-shadow: 0px 1px 1px rgb(73, 72, 71);

  /*color: transparent;
  background-color: rgb(140, 127, 4);
  text-shadow: 0px 1px 1px rgb(233, 213, 22);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;*/
}

.numbers-item-desc {
  display: block;
  font-size: 22px;
  line-height: 22px;
}
/********************************************/
/*.program-title {
  position: relative;
  padding: 35px 0 25px;
  text-align: center;
  font-size: 30px;
  line-height: 1;
  margin-bottom: 55px;
}
.program-title:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  right: -100%;
  background: #ffe917;
  z-index: -2;
}
.program-title i {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  background: url(/images/bulb.png) no-repeat center center;
  width: 125px;
  height: 125px;
  z-index: -1;
  margin-left: -65px;
  margin-top: -45px;
}
.program-title:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 140px 0 140px;
  border-color: #ffe817 transparent transparent transparent;
  bottom: -40px;
  margin-left: -140px;
  z-index: -2;
}*/


.program-subtitle {
  text-align: center;
  font-weight: bold;
  margin-bottom: 50px;
}
.program-item {
  display: inline-block;
  padding-right: 10px;
  padding-top: 55px;
  padding-bottom: 50px;
  font-size: 30px;
  font-weight: 100;
  text-transform: uppercase;
  line-height: 1;
  margin-top:25px;
  margin-bottom:25px;
}
.program-item:nth-child(1) {background: url(/images/1.png) no-repeat 6px 50%;width:535px;padding-left: 120px;}
.program-item:nth-child(2) {background: url(/images/2.png) no-repeat 8px 50%;width:455px;padding-left: 150px;margin-left:20px;}
.program-item:nth-child(3) {background: url(/images/3.png) no-repeat left center;width:535px;padding-left: 120px;}
.program-item:nth-child(4) {background: url(/images/4.png) no-repeat left center;width:455px;padding-left: 150px;margin-left:20px;}
/********************************************/
#video {
  background: url(/images/bg.jpg) no-repeat 50% 50%;
  padding: 30px 0 40px;
}
.video-title {
  color: rgb(255, 233, 23);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  font-size: 30px;
}

.video-title__sroz {
  font-size: 26px;
  padding: 0 15px;
}


.video-title:before {
  content: "";
  display: inline-block;
  background: url(/images/film.png) no-repeat center center;
  width: 51px;
  height: 45px;
  vertical-align: middle;
  margin-top: -4px;
  margin-right: 25px;
}
.video-text {
  font-size: 30px;
  font-weight: 100;
  font-style: italic;
  color: white;
  text-align: center;
  line-height: 1;
  margin: 15px 0 20px;
}

.video-text_sroz {
  width: 1044px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 20px;
}

.damn-border {
  position: absolute;
  top: 20px;
  bottom: 24px;
  left: 0;
  right: 0;
}
.damn-border .db-left:before,
/*.damn-border .db-left:after,*/
/*.damn-border .db-right:before,*/
.damn-border .db-right:after {
  /*content: "";
  display: block;
  height: 4px;
  position: absolute;
  background: red*/
}
.damn-border .db-left {
  background: #ffc000;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 4px;
  left: 0;
}
.damn-border .db-top {
  position: absolute;
  height: 4px;
  left: 0;
  right: 0;
  top: 0;
  background: -moz-linear-gradient(left, rgba(255,192,0,1) 0%, rgba(255,205,8,1) 25%, rgba(255,205,8,0) 25%, rgba(255,221,19,0) 75%, rgba(255,221,19,1) 75%, rgba(255,234,28,1) 100%);
  background: -webkit-linear-gradient(left, rgba(255,192,0,1) 0%,rgba(255,205,8,1) 25%,rgba(255,205,8,0) 25%,rgba(255,221,19,0) 75%,rgba(255,221,19,1) 75%,rgba(255,234,28,1) 100%);
  background: linear-gradient(to right, rgba(255,192,0,1) 0%,rgba(255,205,8,1) 25%,rgba(255,205,8,0) 25%,rgba(255,221,19,0) 75%,rgba(255,221,19,1) 75%,rgba(255,234,28,1) 100%);

}
/*.damn-border .db-left:after {
  left: 0;
  right: -300px;
  bottom: 0;
}*/
.damn-border .db-right {
  background: #ffea1c;
  top: 0;
  bottom: 0;
  right: 0;
  width: 4px;
  position: absolute;
}
.damn-border .db-right:before {
  right: 0;
  left: -300px;
  top: 0;
}
.damn-border .db-bottom {
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  height: 4px;
  background: -moz-linear-gradient(left, rgba(255,192,0,1) 0%, rgba(255,205,8,1) 2%, rgba(255,205,8,0) 2%, rgba(255,221,19,0) 98%, rgba(255,221,19,1) 98%, rgba(255,234,28,1) 100%);
  background: -webkit-linear-gradient(left, rgba(255,192,0,1) 0%,rgba(255,205,8,1) 2%,rgba(255,205,8,0) 2%,rgba(255,221,19,0) 98%,rgba(255,221,19,1) 98%,rgba(255,234,28,1) 100%);
  background: linear-gradient(to right, rgba(255,192,0,1) 0%,rgba(255,205,8,1) 2%,rgba(255,205,8,0) 2%,rgba(255,221,19,0) 98%,rgba(255,221,19,1) 98%,rgba(255,234,28,1) 100%);

}
/********************************************/
#about {
  padding-top: 110px;
  background: url(/images/about-grad.png) repeat-x bottom center;
  padding-bottom: 20px;
}
.about-name {
  color: rgb(25, 25, 25);
  font-weight: bold;
  font-size: 110px;
  line-height: 1;
}
.about-best {
  font-size: 30px;
  color: #917b00;
  position: relative;
  line-height: 30px;
  padding: 15px 0;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 45px;
}
.about-best:before {
  content: "";
  display: block;
  top: 0;
  bottom: 0;
  left: -100%;
  right: -100%;
  background: #ffe917;
  position: absolute;
  z-index: -1;
}
.about-target strong {
  font-size: 26px;
  margin-bottom: 10px;
  display: block;
  text-transform: uppercase;
}

.about-lists:before {
  content: "";
  display: block;
  position: absolute;
  background: url(/images/brian2.png) no-repeat center center;
  width: 468px;
  height: 688px;
  top: -480px;
  right: 0;
  z-index: -1;
}
.about-lists {
  color: white;
  background: linear-gradient(135deg, #1d1d1d 0%, #3d3d3d 40%, #2d2d2d 63%, #474747 100%);;
  position: relative;
  padding-top: 50px;
  margin-left: -100px;
  margin-right: -100px;
  text-align: center;
  margin-top: 50px;
  padding-bottom: 230px;
}

.about-lists .damn-border {
  top: 0;
  bottom: 0;
}
.about-lists .damn-border .db-top {
  position: absolute;
  height: 4px;
  left: 0;
  right: 0;
  top: 0;
  background: -moz-linear-gradient(left, rgba(255,192,0,1) 0%, rgba(255,234,28,1) 100%);
  background: -webkit-linear-gradient(left, rgba(255,192,0,1) 0%,,rgba(255,234,28,1) 100%);
  background: linear-gradient(to right, rgba(255,192,0,1) 0%,rgba(255,234,28,1) 100%);

}
.about-lists .damn-border .db-bottom {
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  height: 4px;
  background: -moz-linear-gradient(left, rgba(255,192,0,1) 0%, rgba(255,234,28,1) 100%);
  background: -webkit-linear-gradient(left, rgba(255,192,0,1) 0%,rgba(255,234,28,1) 100%);
  background: linear-gradient(to right, rgba(255,192,0,1) 0%,rgba(255,234,28,1) 100%);

}
.about-list {
  text-align: left;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 550px;
  display: inline-block;
  vertical-align: top;
  padding-left: 50px;
}
.about-list+.about-list {
  margin-left: 30px;
}
.about-list li {
  position: relative;
  height: 100px;
  font-weight: 100;
}
.about-list li:before {
  content: "";
  display: block;
  position: absolute;
  left: -50px;
  width: 27px;
  height: 22px;
  background: url(/images/check.png) no-repeat center center;
}
/********************************************/
.section-title {
  text-align: center;
  font-size: 64px;
  font-weight: bold;
  text-transform: uppercase;
}
.section-subtitle {
  text-align: center;
  font-size: 24px;
}
#books, #trust {
  padding-top: 90px;
}
#books {
  padding-bottom: 10px;
}
#trust {
  padding-bottom: 100px;
  padding-bottom: 50px !important;
}
.bordered-box {
  margin-top: 50px;
  border: 1px solid #bfbebe;
  position: relative;
}
.bordered-box-title {
  text-align: center;
  margin-top: -14px;
}
.bordered-box-title span {
  background: white;
  color: #bfbebe;
  font-size: 24px;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: bold;
}

.bordered-box-content {
  padding: 35px 25px 50px;
}

.bordered-box-content_book {
  padding: 35px 25px 150px;
}

.books-slide {
  position: relative;
  /*width: 25%;
  display: inline-block;
  vertical-align: middle;*/
  text-align: center;
}
.book-about {
  opacity: 0;
  padding: 0 20px;
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255,255,255,.9);
  -webkit-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  transition: all .2s linear;
}
.books-slide img {
  margin: 0 auto;
  display: block;
  max-width: 160px;
}
.books-slide:hover .book-about  {
  opacity: 1;
}
.book-about {
  font-size: 15px;
  line-height: 1;
}
.book-about strong {
  padding-top: 0px;
  display: block;
  padding-bottom: 5px;
  font-size: 18px;
  line-height: 1;
}

.logos-items {
  text-align: center;
  line-height: 100px;
  font-size: 0;
}
.logos-items_patners {
  margin-bottom: 22px;
}
.logos-item {
  width: 20%;
  padding: 0 15px;
  display: inline-block;
  vertical-align: middle;
}
.logos-item_six {
  width: 16%;
}
.logos-item_five {
  width: 19%;
  margin: 15px 0;
}
.logos-item img {
  max-width: 100%;
  max-height: 100px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  transition: all .2s linear;
}
.logos-item:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.partners {
  overflow: visible;
}

.partners_online {
  margin-bottom: 87px;
}

.partners__btn {
  display: inline-block;
  vertical-align: top;
  padding-left: 87px;
  padding-right: 42px;
  background-image: url(../images/handshake.png);
  background-repeat: no-repeat;
  background-position: 31px 10px;
  text-decoration: none;
  position: absolute;
  bottom: -28px;
  left: 50%;
  margin-left: -158px;
}

/********************************************/
#side-popup {
  display: block;
  position: fixed;
  width: 470px;
  right: 0;
  bottom: 0;
  top: 0;
  -webkit-transform: translateX(470px);
  -o-transform: translateX(470px);
  -ms-transform: translateX(470px);
  transform: translateX(470px);
   -webkit-transition: -webkit-transform .5s ease-out;
  -o-transition: -o-transform .5s ease-out;
  -ms-transition: -ms-transform .5s ease-out;
  transition: transform .5s linear;
  z-index: 1000;
  color: white;
}
.side-popup-toggle {
  
  width: 250px;
  height: 51px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  left: -100px;
  top: 50%;
  margin-top: -25px;
  line-height: 50px;
  background: #ffe917;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  color: black;

  left: -48px;
  transition:left 0.3s linear;
}
.showSideBtn .side-popup-toggle {
  left: -150px;
}

.side-popup-toggle:hover {
  box-shadow: 0 0 38px rgba(188, 177, 76, 0.74); 
}
.side-popup-toggle span {

}
.side-popup-content {
  background-color: #000000;
  width: 470px;
  padding: 50px 60px;
  margin: 0 0 0 auto;
  overflow-y: auto;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  text-align: center;
  display: table;
  vertical-align: middle;
  height: 100%;
}
.side-popup-content-inner {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}
.side-popup-content-inner>* {
  width: 250px;
  margin: 0 auto;
}

.side-popup-content-inner .form-inputs {
  padding: 0;
}

.side-popup-content-inner .btn {
  width: 250px;
}

.side-popup-content input {
  background: white;
  width: 100%;
  margin-bottom: 5px;
}
.side-opened #side-popup {
  -webkit-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  z-index: 1002;
}

.side-opened:before,
.popup-opened:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1001;
}
.side-opened, .popup-opened {
  overflow: hidden;
}

.side-popup-pre {
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
}
.popup-content .side-popup-form,
.side-popup-form {
  margin-top: 25px;
  margin-bottom: 25px;
}
.side-popup-after {
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
}
.side-popup-after a {
  color: white;
  text-decoration: underline;
}
/********************************************/
.side-popup-content::-webkit-scrollbar {
  margin-top: 10px;
  padding-top: 10px;
  width: 10px;
}
.side-popup-content::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  background: #cecece;
}
.side-popup-content::-webkit-scrollbar-track {
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

/********************************************/
/********************************************/
/********************************************/
/********************************************/
/********************************************/
/********************************************/
/********************************************/
/********************************************/

/********************************************/
footer {
  background: black;
}
footer a {
  color: white;
}
.footer-top {
  background: url(/images/bg.jpg) no-repeat 50% 50%;
  padding: 45px 0 30px;
}
.footer-top .container {
  width: 1180px;
}
.foot-title {
  color: rgb(255, 233, 23);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  font-size: 60px;
}


.foot-title:before {
  content: "";
  display: inline-block;
  background: url(/images/tickets.png) no-repeat center center;
  width: 66px;
  height: 64px;
  vertical-align: middle;
  margin-top: -13px;
  margin-right: 25px;
}
.foot-text {
  font-size: 30px;
  font-weight: 100;
  font-style: italic;
  color: white;
  text-align: center;
  line-height: 1;
  margin: 10px 0 40px;
}
.foot-text strong {
  display: block;
}
footer .damn-border {
  top: 38px;
}
footer .damn-border .db-top {
  background: -moz-linear-gradient(left, rgba(255,192,0,1) 0%, rgba(255,205,8,1) 18%, rgba(255,205,8,0) 18%, rgba(255,221,19,0) 82%, rgba(255,221,19,1) 82%, rgba(255,234,28,1) 100%);
  background: -webkit-linear-gradient(left, rgba(255,192,0,1) 0%,rgba(255,205,8,1) 18%,rgba(255,205,8,0) 18%,rgba(255,221,19,0) 82%,rgba(255,221,19,1) 82%,rgba(255,234,28,1) 100%);
  background: linear-gradient(to right, rgba(255,192,0,1) 0%,rgba(255,205,8,1) 18%,rgba(255,205,8,0) 18%,rgba(255,221,19,0) 82%,rgba(255,221,19,1) 82%,rgba(255,234,28,1) 100%);
}

.foot-share {
  text-align: center;
  margin-top: 70px;
}
.foot-share-title, .foot-share-icons {
  display: inline-block;
  vertical-align: middle;
}
.foot-share-title {
  font-size: 24px;
  color: #ffe91c;
  font-weight: bold;
  line-height: 24px;
  text-align: right;
  margin-right: 15px;
  margin-top: -7px;
}
.foot-share-icons span {
  display: inline-block;
  margin-right: 8px;
  cursor: pointer;
}
.foot-share-icons span img {
  display: block;
}

.footer-bottom {
  padding: 20px 0;
}

.footer-logo {float: left;}
.footer-politics {
  position: absolute;
  left: 300px;
  right: 300px;
  text-align: center;
  font-size: 18px;
  text-decoration: underline;
  top: 18px;
}
.footer-phone {
  float:right;
  font-size: 20px;
  text-align: right;
  line-height: 1;
  color: white;
}
.footer-phone a {
  font-size: 34px;
  display: block;
  line-height: 36px;
}

.footer-top__adress {
  display: none;
}

.social_share {
  display: inline-block;
}

/********************************************/

.scroll-to {
  cursor: pointer;
}
.scrolloff {
  pointer-events: none;
}
/********************************************/
#quotes {
  background: #191919;
  color: white;
  padding: 30px 0
}
#quotes .section-title {
  text-transform: none;
  margin-bottom: 20px;
}
.quotes-items {}
.quotes-item.q1 {background:url(/images/q1.png) no-repeat left bottom;}
.quotes-item.q2 {background:url(/images/q2.png) no-repeat left bottom;}
.quotes-item.q3 {background:url(/images/q3.png) no-repeat left bottom;}
.quotes-item.q4 {background:url(/images/q4.png) no-repeat left bottom;}
.quotes-item {
  padding-left: 230px;
  padding-top: 80px;
}
.quotes-item-text {
  position: relative;
  font-size: 20px;
  font-weight: 100;
  font-style: italic;
  border: 4px solid #e9aa2f;
  width: 133px;
  height: 170px;
  
}
.quotes-item-text span {
  position: absolute;
  background: #191919;
  width: 190px;
  bottom: 20px;
  left: 50px;
}
.quotes-item-name {
  font-size: 30px;
  margin-top: 15px;
  font-weight: bold;
}

.quotes-form-wrap {
  margin-top: 36px;
}

.quotes-form-title-wrap {
  text-align: center;
}

.quotes-form-title-wrap:before {
  content: "";
  display: inline-block;
  vertical-align: top;
  background: url(/images/audio.png) no-repeat center center;
  width: 56px;
  height: 54px;
  margin-top: -8px;
  margin-right: 25px;
}

.quotes-form-title {
  display: inline-block;
  vertical-align: top;  
  color: #ffffff;
  font-family: "PF Bague Sans Pro";
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  margin-top: -5px;
}

.quotes-form {
  margin-top: 54px;
}


/********************************************/
/********************************************/
/********************************************/
/********************************************/
/********************************************/
/********************************************/

/********************************************/

@media (min-width: 1200px) {

}
@media (max-width: 1390px) {
  
}
@media (min-width: 992px) and (max-width: 1060px) {

}
@media (max-width: 1199px) {
  .intro-strategy-btn {
    background-position: 10px 6px;
    padding-left: 71px;
    padding-right: 11px;
    height: 62px;
    line-height: 62px;
    margin-left: 0;
  }

  .form-inputs input {
    width: 250px;
  }
  .form-btn {
    width: 250px;
  }
  .about-lists {
    padding-top: 30px;
    margin-left: 0;
    margin-right: 0;
    background-size: cover !important;
    padding-bottom: 264px;
  }
  .about-lists:before {
    background: url(/images/brian2.png) no-repeat center center;
    width: 338px;
    background-size: contain;
    top: -520px;
    right: 0;
    z-index: -1;
  }
  .about-best {
    font-size: 24px;
    line-height: 26px;
    margin-top: 20px;
    margin-bottom: 35px;
  }
  .about-list {
    width: 100%;
    padding-left: 80px;
    padding-right: 50px;
  }
  .about-list li {
    height: auto;
    margin-bottom: 20px;
  }
  .about-list+.about-list {
    margin-left: 0;
  }
  
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 970px;
    padding: 0 55px;
  }

  .container__wide {
    width: 970px !important;
  }

  .intro-l2 {
    font-size: 127.92px;
  }
  .intro-l2 span {
    font-size: 65.93px;
  }
  .header-logo img {
    width: 110px;
  }
  .header-date {
    font-size: 20px;
  }
  .header-date span {
    font-size: 40px;
  }
  .header-phone {
    padding-left: 60px;
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 11px;
  }
  header {
    line-height: 55px;
    height: 55px;
  }
  .intro-l1 {
    font-size: 40px;
    margin: 30px 10% 20px;
  }
  .intro-l1:before {
    width: 85px;
    height: 85px;
    left: 41px;
    top: -8px;
  }
  .intro-strategy-info {
    width: 476px;
  }
  .intro-strategy-title {
    font-size: 40px;
  }
  .intro-strategy-row {
    font-size: 20px;
  }  
  .intro-brian{
    bottom: -61px;
    right: -170px;
  }

  .intro-strategy-online-btn {
    padding-right: 20px;
    font-size: 17px;
  }
    
  .numbers-item-num {
    font-size: 90px;
  }
  .numbers-item-num span {
    font-size: 34.58px;
  }
  .numbers-item-desc {
    font-size: 20px;
  }
  .program-title {
    font-size: 26px;
  }
  .program-item {
    padding-top: 45px;
    padding-bottom: 45px;
    font-size: 22px;
    vertical-align: top;
    background-size: 160px !important;
  }
  .program-item:nth-child(1) {background: url(/images/1.png) no-repeat 6px 50%;width:400px;padding-left: 120px;}
  .program-item:nth-child(2) {background: url(/images/2.png) no-repeat 8px 50%;width:400px;padding-left: 150px;margin-left:20px;}
  .program-item:nth-child(3) {background: url(/images/3.png) no-repeat left center;width:400px;padding-left: 120px;}
  .program-item:nth-child(4) {background: url(/images/4.png) no-repeat left center;width:400px;padding-left: 150px;margin-left:20px;}

  .quotes-form__sendBtn {
    font-size: 16px;
  }
  
  .video-text {
    font-size: 24px;
  }
  .video-text_sroz {
    width: 836px;
  }

  .damn-border .db-top,
  footer .damn-border .db-top {
    background: -moz-linear-gradient(left, rgba(255,192,0,1) 0%, rgba(255,205,8,1) 15%, rgba(255,205,8,0) 15%, rgba(255,221,19,0) 85%, rgba(255,221,19,1) 85%, rgba(255,234,28,1) 100%);
    background: -webkit-linear-gradient(left, rgba(255,192,0,1) 0%,rgba(255,205,8,1) 15%,rgba(255,205,8,0) 15%,rgba(255,221,19,0) 85%,rgba(255,221,19,1) 85%,rgba(255,234,28,1) 100%);
    background: linear-gradient(to right, rgba(255,192,0,1) 0%,rgba(255,205,8,1) 15%,rgba(255,205,8,0) 15%,rgba(255,221,19,0) 85%,rgba(255,221,19,1) 85%,rgba(255,234,28,1) 100%);
  }
  #about {
    padding-top: 80px;
  }
  .about-name {
    font-size: 80px;
  }
  
  #books, #trust {
    padding-top: 50px;
  }
  .section-subtitle {
    font-size: 20px;
  }
  .section-title {
    font-size: 50px;
  }
  .books-slide img {
    width: 150px;
  }
  .book-about strong {
    
  }
  .bordered-box-content {
    padding: 25px;
  }

  .bordered-box-content_book {
    padding-bottom: 150px;
  }

  .logos-items {
    line-height: 80px;
  }
  .logos-item img {
    max-height: 80px;
  }
  .foot-text {
    font-size: 24px;
    margin: 20px 0 30px;
  }
  .footer-phone a {
    font-size: 30px;
    line-height: 24px;
  }
  .footer-politics {
    top: 9px;
  }
  .footer-logo img {
    width: 120px;
  }
  .quotes-item {
    padding-left: 180px;
  }
}

@media (max-width: 991px) {
  .container {
    padding: 0 30px;
  }
  .side-popup-toggle {
    height: 30px;
    left: -60px;    
    line-height: 30px;
  }

  .showSideBtn .side-popup-toggle {
    left: -90px;
  }
  
  body {
    font-size: 14px;
  }
  
  .popup-content {
    padding: 30px 10px;
    width: 100%;
  }
  
  .header-logo img {
    width: 110px;
  }
  .header-date {
    font-size: 20px;
  }
  .header-date span {
    font-size: 40px;
  }
  .header-phone {
    padding-left: 60px;
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 11px;
  }
  header {
    line-height: 55px;
    height: 55px;
  }
  .intro-brian {
    right: -200px;
    bottom: -40px;
  }
  .intro-l1 {
    font-size: 30px;
    // margin: 20px 0 30px;
  }
  .intro-l1:before{
    width: 75px;
    height: 75px;
    left: 26px;
    top:-10px;
  }
  .intro-l2 {
    font-size: 100px;
    line-height: 100px;
  }
  .intro-l2 span {
    font-size: 51px;
    line-height: 51px;
  }  
  .intro-strategy {
    padding: 20px 0 20px 2%;
  }
  .intro-strategy-info {
    width: 381px;
  }
  .intro-strategy:after {
    top: -318px;
    left: -7%;
  }  
  .intro-strategy-title {
    font-size: 33px;
    line-height: 33px;
  }
  .intro-strategy-title:before {
    display: none;
  }
  .intro-strategy-row {
    font-size: 16px;
    line-height: 30px;
  }
  .intro-strategy-btn {
    font-size: 17px;
    height: 62px;
    background-size: 45px;
    background-position: 8px 9px;
    padding-left: 56px;
  }

  .intro-strategy-online-btn {
    font-size: 17px;
    padding-left: 78px;
    padding-right: 10px;
    height: 63px;
    background-position: 21px 12px;
    padding-top: 8px;
  }

  .intro-bottom-item {
    font-size: 18px;
    line-height: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
  }
  .intro-bottom-item:nth-child(1) {
    background: url(/images/chat.png) no-repeat 16px 50%;
    padding-left: 69px;
    background-size: 35px;
  }
  .intro-bottom-item:nth-child(2) {
    background: url(/images/marker.png) no-repeat 10px 50%;
    padding-left: 50px;
    background-size: 30px;
  }
  .intro-bottom-item+.intro-bottom-item {
    margin-left: 0;
    display: block;
    width: 260px;
    margin-top: 20px;
  }
  
  .numbers-item {
    margin: 15px 0;
  }
  .numbers-item-num {
    font-size: 70px;
    line-height: 70px;
  }
  .numbers-item-num span {
    font-size: 27px;
  }
  .numbers-item-desc {
    font-size: 16px;
    line-height: 1;
  }
  .program-title {
    font-size: 24px;
  }
  .program-subtitle {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .program-item {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    vertical-align: top;
    background-size: 100px !important;
  }
  .program-item:nth-child(1) {background: url(/images/1.png) no-repeat 6px 50%;width:340px;padding-left: 70px;}
  .program-item:nth-child(2) {background: url(/images/2.png) no-repeat 8px 50%;width:340px;padding-left: 80px;margin-left:10px;}
  .program-item:nth-child(3) {background: url(/images/3.png) no-repeat left center;width:340px;padding-left: 70px;padding-top: 10px;padding-bottom: 10px;}
  .program-item:nth-child(4) {background: url(/images/4.png) no-repeat left center;width:340px;padding-left: 80px;margin-left:10px;}
  
  .quotes-form-title-wrap:before {
    margin-right: 0;
  }

  .quotes-form-title {
    display: block;
    margin-top: 18px;
    padding: 0 15px;
  }

  .quotes-form__sendBtn {
    font-size: 16px !important;
  }


  .video-text {
    font-size: 20px;
  }
  
  .video-text_sroz{
    font-size: 20px;
    width: 100%;
    padding: 0 28px;
  }

  .video-title:before {
    display: block;
    margin: 0 auto 20px;
  }
  .section .form-inputs input, .section .form-inputs, .section .form-btn {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .section .form-inputs input+input {
    margin-top: 10px;
  }
  .section .form-btn {
    margin-top: 20px;
  }
  .section .form-btn .btn {
    width: 220px;
    margin: 0 auto;
    font-size: 18px;
    padding: 19px 10px;
  }
  footer .damn-border,
  #video .damn-border,
  #quotes .damn-border,
  #contacts .damn-border{
    left: 30px;
    right: 30px;
  }
  
  .damn-border_footer {
    top: 160px !important;
  }

  footer .damn-border .db-top,
  .damn-border .db-top,
  footer .damn-border .db-bottom,
  .damn-border .db-bottom {
    background: -moz-linear-gradient(left, rgba(255,192,0,1) 0%, rgba(255,205,8,1) 30%, rgba(255,205,8,0) 30%, rgba(255,221,19,0) 70%, rgba(255,221,19,1) 70%, rgba(255,234,28,1) 100%);
    background: -webkit-linear-gradient(left, rgba(255,192,0,1) 0%,rgba(255,205,8,1) 30%,rgba(255,205,8,0) 30%,rgba(255,221,19,0) 70%,rgba(255,221,19,1) 70%,rgba(255,234,28,1) 100%);
    background: linear-gradient(to right, rgba(255,192,0,1) 0%,rgba(255,205,8,1) 30%,rgba(255,205,8,0) 30%,rgba(255,221,19,0) 70%,rgba(255,221,19,1) 70%,rgba(255,234,28,1) 100%);
  }

  .about-best {
    font-size: 20px;
  }
  .about-name {
    font-size: 60px;
  }
  .about-target {
    font-size: 18px;
    background: rgba(255, 255, 255, 0.81);
    padding: 15px 0;
  }
  .about-lists {
    margin-top: 20px;
    padding-bottom: 255px;
  }
  .about-list {
    padding-left: 50px;
  }
  .about-list li:before {
    left: -37px;
    background: url(/images/check.png) no-repeat center center;
    background-size: 15px;
  }
  .section-title {
    font-size: 40px;
  }
  .section-subtitle {
    font-size: 16px;
  }
  #books, #trust {
    padding-top: 50px;
  }
  .bordered-box {
    margin-top: 30px;
  }
  .books-slide img {
    width: 130px;
  }
  .book-about strong {
    
  }
  .bordered-box-content {
    padding: 25px;    
  }

  .bordered-box-content_book {
    padding-bottom: 150px;
  }

  .foot-title:before {
    display: block;
    margin: 0 auto;
  }
  .foot-title {
    font-size: 30px;
  }
  .foot-text {
    font-size: 20px;
    margin: 10px 0 30px;
  }
  .footer-logo {
    display: none;
  }
  .footer-politics {
    margin-bottom: 20px;
  }
  .footer-politics, .footer-phone {
    position: initial;
    text-align: center;
    float: none;
    display: block;
  }
  .foot-share {
    margin-top: 30px;
  }
  .footer-top, #video {
    background-size: cover;
  }

  .footer-top {
    background: url(/images/BGI.jpg) no-repeat 50% 50%;
  }

  .footer-top__adress{
      display: block;
      margin-bottom: 40px;
  }

  .footer-top__adress-date{
    color: #ffffff;
    font-family: "PF Bague Sans Pro";
    font-size: 23px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .footer-top__adress-place{
    color: #ffffff;
    font-family: "PF Bague Sans Pro";
    font-size: 41px;
    font-weight: 700;
    line-height: 34px;
    text-transform: uppercase;
  }

  .footer-top__adress-item{
    text-shadow: 0 2px 9px rgba(0, 0, 0, 0.76);
    color: #ffffff;
    font-family: "PF Bague Sans Pro";
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
  }

  .footer-top__form{
    text-align: center;
  }


  .side-popup-content {
    width: 270px;
    padding: 20px 10px;
  }
  #side-popup {
    width: 320px;
    -webkit-transform: translateX(270px);
    -o-transform: translateX(270px);
    -ms-transform: translateX(270px);
    transform: translateX(270px);
  }

  .buttonPlace{
  top: 46px;
  right: 0%;
  }

  .intro-strategy-title {
  font-size: 35px;
  }
}
@media (min-width: 768px) {
  
  /*.side-opened .section .container, .side-opened header, .side-opened footer, .popup-opened .section .container, .popup-opened header, .popup-opened footer, .popup-opened #side-popup {
    filter: blur(5px);
    -webkit-filter: blur(5px);
  }*/
  .side-opened .forblur,.side-opened .section , .side-opened header, .side-opened footer, .popup-opened .section .container, .popup-opened header, .popup-opened footer, .popup-opened #side-popup {
    filter: blur(5px);
    -webkit-filter: blur(5px);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 750px;
  }
  
  .container__wide {
    width: 750px !important;
  }
  
}

@media (max-width: 767px) {
  .quotes-item.q1 {
    background: url(/images/q1.png) no-repeat top right;
    background-size: 200px;
  }
  .quotes-item.q2 {
    background: url(/images/q2.png) no-repeat top right;
    background-size: 200px;
  }
  .quotes-item.q3 {
    background: url(/images/q3.png) no-repeat top right;
    background-size: 200px;
  }
  .quotes-item.q4 {
    background: url(/images/q4.png) no-repeat top right;
    background-size: 200px;
  }
  .quotes-item {
    padding-left: 0;
    padding-top: 170px;
  }
  .quotes-item-text {
    font-size: 18px;
  }
  header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
  }
  .popup-text {
    font-size: 14px;
  }
  .container {
    width: 100%;
    padding: 0 15px;
  }
  .video-bg {
    display: none;
  }
  .header-logo {
    
  }
  .header-right {
    margin-right: 50px;
  }
  .header-date {
    display: none;
  }
  .header-phone {
    font-size: 0;
    padding: 0;
    color: transparent;
    width: 40px;
    height: 55px;
    background: url(/images/header-phone.png) no-repeat 50% 50%;
    background-size: 30px;
    position: relative;
    z-index: 1001;
  }

  #side-popup {
    width: 320px;
    -webkit-transform: translateX(320px);
    -o-transform: translateX(320px);
    -ms-transform: translateX(320px);
    transform: translateX(320px);
  }
  .side-popup-toggle {
    display: block;    
    line-height: 50px;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    font-size: 0;
    color: transparent;
    width: 50px;
    left: -50px !important;
    height: 55px;
    background: url(/images/tickets-side.png) no-repeat center center #ffe917;
    background-size: 40px;
    border-radius: 0;
    top: 0;
    margin-top: 0;
    transition:none;
  }

  .side-opened .side-popup-toggle {
    left: 0px !important;
  }

  #intro {
    background: url(/images/intro-bg.jpg) no-repeat bottom center;
    background-size: cover;
    padding-top: 55px;
    padding-bottom: 40px;
  }
  .mobile-date {
    display: block;
    padding-top: 100px;
    font-size: 24px;
    font-weight: 500;
    position: relative;
    z-index: 5;
  }
  .mobile-date span {
    font-size: 46px;
    font-weight: 100;
  }
  .intro-l1 {
    font-size: 24px;
    margin: 10px 0 10px;
    position: relative;
    z-index: 5;
  }
  .intro-l1:before{
    display: none;
  }

  .intro-title {
    width: 293px;
  }

  .intro-l2 {
    font-size: 67px;
    line-height: 1;
    position: relative;
    z-index: 5;
  }
  .intro-l2 span {
    font-size: 37px;
    line-height: 1;
  }
  .intro-strategy-title {
    font-size: 25px;
    line-height: 1;
  }
  .intro-strategy {
    padding: 20px 0;
  }
  .intro-strategy:before {
    opacity: 1;
  }
  .intro-strategy-info {
    width: 100%;
  }
  .intro-strategy-row {
    font-size: 22px;
    line-height: 1;
    margin-top: 8px;
  }
  .intro-strategy:after {
    display: none;
  }
  .intro-strategy-btn {
    display: none;
  }
  .intro-strategy-online-btn{
    display: none;
  }
  .intro-brian {
    right: -90px;
    bottom: auto;
    top: -20px;
    height: 480px;
    width: 340px;
  }
  .intro-bottom {
    text-align: center;
  }
  .intro-bottom-item+.intro-bottom-item {
    margin-left: 2%;
    display: inline-block;
    width: 48%;
    margin-top: 0;
  }
  .intro-bottom-item {
    font-size: 18px;
    text-align: center;
    line-height: 16px;
    padding-top: 50px;
    padding-bottom: 15px;
    padding-right: 5px;
    padding-left: 5px;
    width: 297px;
    height: 101px;
    vertical-align: top;
  }
  .intro-bottom-item:nth-child(1) {
    background: url(/images/chat.png) no-repeat 50% 13px;
    padding-left: 5px;
    background-size: 35px;
  }
  .intro-bottom-item:nth-child(2) {
    background: url(/images/marker.png) no-repeat 50% 8px;
    padding-left: 0;
    background-size: 30px;
    margin-top: 10px;
  }
  .intro-bottom-item:nth-child(2) strong {
    display: none;
  }
  .intro-bottom {
    padding: 20px 0 20px;
  }
  .intro-bottom-btn {
    display: inline-block;
    vertical-align: top;
    background-image: url(/images/tickets-side.png);
    background-repeat: no-repeat;
    background-position: 25px 5px;
    color: #000;
    font-weight: 500;
    padding: 0;
    padding-left: 88px;
    padding-right: 40px;
    height: 62px;
    line-height: 62px;
    margin-top: 31px;
    transition: none;
  } 

  .intro-bottom-online-btn {
    display: inline-block;
    vertical-align: top;
    background-image: url(/images/monitor.png);
    background-repeat: no-repeat;
    background-position: 25px 17px;
    text-align: left;
    padding: 0;
    padding-top: 14px;
    padding-left: 79px;
    padding-right: 12px;
    font-size: 18px;
    height: 78px;
    line-height: 23px;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    margin-top: 23px;
    margin-bottom: 20px;
  }
  .numbers-item-num {
    font-size: 50px;
    line-height: 50px;
  }
  .numbers-item {
    margin: 10px 0;
    width: 50%;
    padding-right: 10px;
  }
  .numbers-item-num span {
    font-size: 18px;
  }
  .program-title {
    font-size: 20px;
  }
  .program-item {
    font-size: 22px;
    width: 290px !important;
    margin-left: 0 !important;
    padding-left: 80px !important;
    background-size: 100px !important;
    padding-right: 0 !important;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .program-item:nth-child(1) {
    background: url(/images/1.png) no-repeat 14px 50%;
  }
  .program-item:nth-child(3) {
    background: url(/images/3.png) no-repeat 12px 50%;
  }
  .program-items {
    padding-bottom: 20px;
  }
  
  .container__wide {
    width: 100% !important;
  }

  footer .damn-border, 
  #video .damn-border,
  #quotes .damn-border,
  #contacts .damn-border{
    left: 15px;
    right: 15px;
  }
  #about {
    padding-top: 30px;
    position: relative;
  }
  .about-best {
    font-size: 20px;
    padding-right: 20%;
    text-shadow: 0.5px 0.5px 1px #ffffff;
  }
  .about-lists:before {
    display: none;
  }
  #about:before {
    content: "";
    display: block;
    background: url(/images/brian2.png) no-repeat center center;
    width: 298px;
    height: 688px;
    position: absolute;
    background-size: contain;
    top: 5px;
    right: -110px;
    z-index: 0;
  }
  .about-lists {
    margin-left: -15px;
    margin-right: -15px;
    padding-bottom: 285px;
    padding-bottom: 204px;
  }
  .section-title {
    font-size: 35px;
    line-height: 1;
    text-align: left;
    margin-bottom: 20px;
  }
  .section-subtitle {
    font-size: 18px;
    text-align: left;
  }
  .bordered-box-title span {
    padding: 0 5px;
  }
  .bordered-box-content {
    padding: 10px;    
  }

  .bordered-box-content_book {
    padding-bottom: 150px;
  }

  .logos-item {
    width: 50%;
  }
  .logos-item_six {
      margin: 10px 0;
  } 
  .logos-items {
    line-height: 80px;
  }
  .logos-item img {
    max-height: 80px;
  }
  .footer-top__adress{
    margin-bottom: 15px;      
  }
  .foot-share-title, .foot-share-icons {
    display: block;
    text-align: center;
    margin: 0;
  }
  .foot-share-icons {
    margin-top: 10px;
  }


  .buttonePlace{
  display: none;
  }


}
@media (max-width: 500px) {
  .popup-title {
    font-size: 22px;
  }
}

@media (max-width: 450px) {
  .about-lists {
  }
  .footer-top__form{
  text-align: left;
  }

  .partners__btn {
    padding-left: 59px;
    padding-right: 12px;
    background-position: 7px 10px;
    margin-left: -113px;
    font-size: 18px;
  }
}

@media (max-width: 380px) {
  .intro-bottom-btn {
    font-size: 19px;
    padding-left: 84px;
    padding-right: 28px;
    width: 100%;
    background-position: 10% 5px;
  }

  .intro-bottom-online-btn {
    font-size: 17px;
  }

  .about-lists {
    padding-bottom: 178px;
  }
}

